<div class="table">
    <h1>Pending Dispatch List</h1>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Filling Station Name</th>
                    <th>License No.</th>
                    <th>Vehicle Registered No.</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td> 
                    <td>{{}}</td> 
                    <td>{{}}</td> -->
                     </tr> 
            </tbody>
        </table>
    </div>
</div>
